@font-face {
  font-family: myfont1;
  src: url(./font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: myfont2;
  src: url(./font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: myfont3;
  src: url(./font/PlaywriteDESAS-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: myfont2;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: #fff;
}

#nav a {
  color: #ffffff;
  text-decoration: none;
}

#heading{
  margin-top: 40px;
}

#heading h1 {
  margin-left: 30px;
  opacity: .6;
  line-height: 1;
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;

}

#heading #secondh1 {
  margin-left: 140px;
}

#blocktext {
  width: fit-content;
}

#blocktext h5{
  text-transform: uppercase;
  font-size: 16px;
  text-align: right;
  
}

#chhotiheading{
  margin-top: 180px;
  padding-right: 45px;
}

#chhotiheading h5{
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1.4vw;
  text-align: right;
}

#herofooter{
  padding: 0 2vw;
  position: absolute;
  bottom: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#herofooter a {
color: #fff;
text-transform: uppercase;
text-decoration: none;

}

#herofooter #iconset{
  display: flex;
  gap: 5px;
}

#herofooter .ciecle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
}

#second{
  padding-right: 10vh;
  width: 100%;
  height: 100vh;
  background-color: black;
  padding-top: 200px;
}

.elem{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3vw;
  padding-right: 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;

}

.elem h1 {
  text-transform: uppercase;
  font-size: 7.6vw;
  opacity: .7;
}

#elemlast {
  border-bottom: 1px solid #888;
}

.elem img {
  opacity: 0;
  z-index: 999;
  height: 130%;
  position: absolute;
}

#about {
  display: flex;
  /* width: 100vh; */
  gap: 10px;
  padding: 10vw 5vw;
  padding-left: 4vh;
  align-items: center;
  background-color: black;
}

#about {
  width: 100%;
 padding-top: 300px;

}

#about img {
  height: 220px;
  border: 1px solid rgb(90, 213, 235);
  border-radius: 50%;

}

#about #textabout {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 30px;
  background-color: rgb(34, 34, 33);
  border-radius: 10PX;
  text-align: left;
  display: block;
  
}

#about #textabout h5 {
  font-size: 20px;
  font-weight: 600;
}

#about #textabout p {
  font-style: oblique;
  flex-direction: row;
  opacity: .6;
}


#about #textabout button {
  background-color: rgb(94, 99, 97);
  border: 1px solid rgb(165, 208, 219);
  padding: 4px 100px 4px 100px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;

}

#about #textabout button:hover {
  background-color: rgb(85, 134, 115);
  border: 1px solid rgb(44, 201, 96);

}


.elem img:hover {
  opacity: 8.9;
}